= form_for(@product) do |f|
  - if @product.errors.any?
    .error_explanation
      %h2
        = pluralize(@product.errors.count, 'error')
        prohibited this product from being saved:

      %ul
        - @product.errors.full_messages.each do |msg|
          %li
            = msg

  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.label :price
    %br
    = f.text_field :price

  = f.fields_for :product_tags do |product_tags_f|
    %p
      = product_tags_f.label :product_tag_name
      %br
      = product_tags_f.text_field :name
      - if product_tags_f.object.persisted?
        = product_tags_f.check_box :_destroy
        = product_tags_f.label :_destroy, 'Tick to delete'

  %p
    = f.submit

= link_to products_path do
  Back
