%h1
  Products list

%p
  = link_to new_product_path do
    Create product

%table
  %tr
    %th
      Name
    %th
      Price
    %th
      Tags

  - @products.each do |product|
    %tr
      %td
        = product.name
      %td
        = product.price
      %td
        = product.product_tags.pluck(:name).sort.join(', ')
      %td
        = link_to product_path(product) do
          Show
      %td
        = link_to edit_product_path(product) do
          Edit
      %td
        = link_to product_path(product), { method: :delete, data: { confirm: 'Are you sure?' } } do
          Destroy
